<div class="col md-6 badge">
  <div class="content">
    <div class="intro">
      <h2>
        Sharing
      </h2>
      <p>If you run one of these groups, you could add a badge to your website linking back here:</p>
      <a href="{{site.url}}">
        <img src="assets/images/template/member-badge.png" alt="Brighton Brains" width="222" height="77">
      </a>
      <textarea readonly rows="4">&lt;a href="{{site.url}}"&gt;
  &lt;img src="{{site.url}}/assets/images/template/member-badge.png" alt="Brighton Brains" width="222" height="77"&gt;
&lt;/a&gt;</textarea>
    </div>
  </div>
</div>