<div class="col md-6">
  <h2>About</h2>
  <p>Brighton is full of creative and technical people, who organise free groups and meetings to share knowledge and collaborate.</p>
  <p>This website helps publicise the creative, digital and STEM communities in Brighton and the surrounding areas.</p>
</div>
<div class="col md-6">
  <h2>Get involved</h2>
  <p>If you know of any other groups that should be on this page, or have any suggestions for any other improvements to this site, please let us know by <a href="mailto:{{ site.email }}">emailing us</a>.</p>
  <p>Alternatively, you can create an <a href="{{ site.github }}/issues/">issue</a> (or, even better, fork the project and create a pull request) on <a href="{{ site.github }}">GitHub</a>.</p>
</div>