<div class="col md-6">
  <div class="content">
    <div class="intro">
      <h2>
        <a href="{{ include.listing.links[0].url }}" title="{{ include.listing.links[0].name }}" target="_blank">{{ include.listing.name }}</a>
      </h2>
      <div class="left">
        {% if include.listing.image %}
          <img alt="{{ include.listing.name }}" src="assets/images/groups/{{ include.listing.image }}" />
        {% else %}
          <div class="no-image">
            <p>We don't have an image for this meetup.</p>
            <p>
              If you have a related image you'd like us to use, submit a
              <a title="Brighton Brains on Github" href="{{ site.github }}" target="_blank">pull request on GitHub</a>,
              <a title="Brighton Brains issues on Github" href="{{ site.github }}issues">open an issue</a> or
              <a title="Email us" href="mailto:{{ site.email }}">email us</a>.
            </p>
          </div>
        {% endif %}
      </div>
      <div class="right">
        <p>
          {{ include.listing.description }}
        </p>
      </div>
    </div>
    <div class="info">
      <dl class="links">
        <dt>
          Links:
        </dt>
        <dd>
          <ul>
            {% for link in include.listing.links %}
              <li>
                <a href="{{ link.url }}" title="{{ link.name }}" target="_blank">
                  {{ link.name }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </dd>
      </dl>
      {% if include.listing.tags %}
        <dl class="tags">
          <dt>
            Tags:
          </dt>
          <dd>
            <ul>
              {% for tag in include.listing.tags %}
                <li>
                  <a class="badge">{{ tag }}</a>
                </li>
              {% endfor %}
            </ul>
          </dd>
        </dl>
      {% endif %}
      <dl>
        <dt>
          When:
        </dt>
        {% if include.listing.when %}
          <dd>
            {{ include.listing.when.date }}{% if include.listing.when.from %}, from <span class="badge">{{ include.listing.when.from }}</span>{% endif %}{% if include.listing.when.to %} to <span class="badge">{{ include.listing.when.to }}</span>{% endif %}
          </dd>
        {% else %}
          <dd>
            ¯\_(ツ)_/¯ We're not sure. If you know, <a title="Email us" href="mailto:{{ site.email }}">drop us an email</a>.
          </dd>
        {% endif %}
      </dl>
    </div>
  </div>
</div>
