.listing {
  @include clearfix;
  background-color: $listing-background;
  padding: 0 $padding-base;
  border-radius: $border-radius-base;
  box-shadow: $shadow-soft;
  margin: $margin-double 0;

  .left {
    width: 150px;
    float: left;
    margin-right: $margin-double;
    margin-bottom: $margin-base;
    border-radius: $border-radius-base;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .links {
    @include clearfix;
    display: block;
    font-size: $font-size-base * 0.9;
    line-height: $line-height-base * 1.2;
    margin: $margin-base 0;

    dt {
      width: 150px;
      clear: both;
    }

    dt,
    dd {
      display: block;
      float: left;
      margin: 0;
      padding: 0;
    }
  }
}
