.listings {
  display: flex;
  flex-wrap: wrap;

  & > .col {
    display: flex;

    &:nth-of-type(odd) {
      clear: both;
    }
  }

  .content {
    @include clearfix;
    width: 100%;
    background-color: $listing-background;
    padding: 0 $padding-base;
    border-radius: $border-radius-base;
    box-shadow: $shadow-soft;
    margin: $margin-base 0;

    .no-image {
      font-size: $font-size-small;
      padding: $padding-half $padding-base;
      line-height: 1.2em;
      background-color: $no-image-background;
      color: $no-image-text-color;

      p {
        margin: $padding-half auto;
      }
    }

    .left {
      width: $listing-left-width;
      float: left;
      margin-right: $margin-double;
      margin-bottom: $margin-base;
      border-radius: $border-radius-base;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    .info {
      @include clearfix;
      font-size: $font-size-base * 0.9;
      line-height: $line-height-base * 1.2;
    }

    dl {
      margin: $margin-half auto;
      display: block;
      width: 100%;
    }

    dt {
      font-weight: 600;
    }

    dt,
    dd {
      display: inline;
      margin: 0;
      padding: 0;
      vertical-align: middle;
    }

    .link {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .tags {
      ul {
        display: inline;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          display: inline;
          white-space: nowrap;

          a {
            padding: 0 $padding-half;
            background-color: $tag-background;
            border-radius: $border-radius-base;
          }

          &::after {
            content: ', ';
          }

          &:last-child::after {
            content: none;
          }
        }
      }
    }
  }
}
