$body-background: url('../images/template/background.png');
$header-background: url('../images/template/header-background.png');

$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 1024px;

$screen-sizes: (sm: $screen-sm, md: $screen-md, lg: $screen-lg);
$displays: block, inline-block, inline, none, table;

$text-color-base: #333333;
$text-color-light: #EEEEEE;
$listing-background: #FFFFFF;
$link-color: #2266DD;

$font-family-header: 'Open Sans', sans-serif;
$font-weight-header: 300;
$font-family-headers: 'Open Sans', sans-serif;
$font-weight-headers: 400;
$font-family-base: 'Open Sans', sans-serif;
$font-weight-base: 400;
$font-size-base: 16px;
$line-height-base: 1.4em;

$padding-base: 10px;
$padding-double: $padding-base * 2;
$padding-half: $padding-base / 2;

$margin-base: 10px;
$margin-double: $margin-base * 2;
$margin-half: $margin-base / 2;

$gutter-width: 30px;
$gutter-width-half: $gutter-width / 2;

$columns: 12;
