<!DOCTYPE html>

<html lang="en">

<head>
  <title>{{ site.title }}</title>
  <meta charset="utf-8" />
  <meta name="description" content="{{ site.description }}" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=IE6" />
  <meta property="og:title" content="Brighton Brains" />
  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="{{ site.url }}/static/images/template/logo.png" />
  <meta property="fb:admins" content="61400755" />

  <link rel="shortcut icon" href="assets/images/template/favicon.png" type="image/png" />

  <link href="http://fonts.googleapis.com/css?family=Changa+One" rel="stylesheet" type="text/css" />

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <link rel="stylesheet" href="assets/lib/normalize.css" />
  <link rel="stylesheet" href="assets/css/style.css" />

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-10730880-2']);
    _gaq.push(['_trackPageview']);

    (function () {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

  <!--[if lt IE 9]>
  <script type="text/javascript">
    document.createElement('header');
    document.createElement('main');
    document.createElement('section');
    document.createElement('footer');
  </script>
  <![endif]-->

</head>

<body>

  <div class="wrapper">

    <header class="header">
      <div class="container">
        {% include icons.html %}
        <img class="logo" src="assets/images/template/logo.png" alt="Brighton Brains logo" />
        <h1>{{ site.title }}</h1>
        <p>{{ site.description }}</p>
      </div>
    </header>

    <main class="container">

      {{ content }}

    </main>

    <footer class="footer">
      <div class="container">
        {% include icons.html %}
        <div class="credits">
          <h3>Credits:</h3>
          <p>
            {% include company-logo.html %}
          </p>
          <p>Logo by
            <a href="http://thenounproject.com/" target="_blank" title="The Noun Project">The Noun Project</a>, backgrounds by
            <a href="http://subtlepatterns.com/" target="_blank" title="Subtle Patterns">Subtle Patterns</a>.</p>
        </div>
      </div>
    </footer>

  </div><!-- Wrapper -->

  <script src="assets/js/filter.js"></script>

</body>

</html>
